@import "../../index.scss";
.graphCard {
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: $white;
  width: 360px;
  height: 250px;
  flex-direction: column;
  border-radius: 8px;
  gap: 12px;

  &-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &-value-wrapper {
      display: flex;
      flex-direction: column;
    }

    &-value {
      font-size: 18px;
      font-weight: $bold-7;
      color: $primary-grey;
    }

    &-title {
      font-weight: $bold-5;
      font-size: 20px;
      color: $secondary-grey;
    }

    &-icon {
      width: 24px;
      height: 24px;

      svg {
        color: $primary-blue;
      }
    }
  }

  &-chart {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
}
