@import "../../index.scss";
#sideNav {
  width: 320px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $primary-blue;
  border-radius: 0 50px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .navTop {
    .navTitle {
      margin: 50px 30px;
      color: $secondary-blue;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      #leafIcon {
        margin-right: 10px;
      }
      #navHeading {
        font-weight: $bold-7;
        font-size: 28px;
      }
    }
    .navTile {
      .pagesNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        font-size: 24px;
        padding: 10px 30px;
        color: $tertiary-blue;
        img {
          margin-right: 10px;
        }
        &.current {
          border-left: 3px solid $secondary-blue;
          color: $secondary-blue;
        }
      }
    }
  }
  .navBottom {
    margin-bottom: 50px;
    .pagesNav {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
      font-size: 24px;
      padding: 10px 30px;
      color: $tertiary-blue;
      color: $secondary-blue;
      img {
        margin-right: 10px;
      }
    }
  }
}
