@import "../../index.scss";

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d1d5db;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}