@import "../../index.scss";

.message-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    background-color: $white; //should delete this later

    &-img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &-name {
        font-weight: $bold-5;
        margin-right: 10px;
    }

    &-message {
        color: $secondary-grey;
        margin-right: 10px;
        font-weight: $bold-7;
    }

    &-time {
        font-weight: 400;
        color: $secondary-grey;
    }
}