@import "../../index.scss";

.revenue-histogram {
  padding: 16px;
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: $white;
  width: 300px;
  height: 200px;
  flex-direction: column;
  border-radius: 8px;

  &-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &-value {
      display: flex;
      flex-direction: column;
    }
    &-icon {
      width: 24px;
      height: 24px;

      svg {
        color: $primary-blue;
      }
    }
  }
}
