@import "../../index.scss";

.report {

}

.reportEnvironment {
    padding: 10px 20px;

    &-block {
        display: flex;
        gap: 30px;
        
        &-title {
            width: 30%;
            font-weight: 700;
            color: $primary-green;
            padding-left: 10px;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: solid 3px $primary-green;
        }
        
        .graphCard {
            width: 50%;
            background-color: $secondary-blue;
        }
    }
}