@import "../../index.scss";

.report {

}

.reportEnvironment {
    padding: 10px 20px;
    display: flex;
    gap: 30px;

    &-block {
        width: 50%;

        &-title {
            font-weight: 700;
            color: $primary-green;
            padding-left: 10px;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: solid 3px $primary-green;
        }

        .graphCard {
            background-color: $secondary-blue;
        }
    }
}