@import "../../index.scss";
.DashBoard {
  .notification {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    &_chatsub {
      width: 55%;
    }
    &__chat {
      background-color: $white;
      padding: 20px 30px;
      border-radius: 20px;

      .message-preview:not(:last-child) {
        padding-bottom: 15px;
      }
    }
    &_todosub {
      width: 40%;
    }
    &__todo {
      padding: 20px 25px;
      border-radius: 20px;
      background-color: $white;
    }
  }

  .analytics-group {
    display: flex;
    flex-direction: row;
    // gap: calc((100% - (360px * 3)) / 2);
    gap: 15px;
    flex-wrap: nowrap;
  }

  .analytics-group-card {
    margin-top: 16px;
    background: $secondary-grey;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-title {
      font-size: 20px;
    }
  }

  .table-group {
    padding: 16px;
    background: $secondary-grey;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      font-size: 20px;
    }
  }
}
