@import "../../index.scss";
.DashBoard {
  padding: 0 0 0 40px;
  .notification {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    &_chatsub {
      width: 55%;
    }
    &__chat {
      background-color: $white;
      padding: 20px 30px;
      border-radius: 20px;

      .message-preview:not(:last-child) {
        padding-bottom: 15px;
      }
    }
    &_todosub {
      width: 40%;
    }
    &__todo {
      padding: 20px 25px;
      border-radius: 20px;
      background-color: $white;
    }
  }

  .analytics-group {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: calc((100% - (340px * 3)) / 2);
  }
}
