@import "index.scss";
.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;

  .Pages {
    // position: absolute;
    // top: 0;
    // right: 0;
    // height: calc(100vh - 40px);
    // width: calc(100% - 360px);
    padding: 20px;
  }
}
