@import "index.scss";
.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  .topnav {
    height: 70px;
    background-color: $white;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    .topnav-content {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin: 0px 20px 0px 270px;
    }
  }
  .Pages {
    position: absolute;
    top: 70px;
    right: 0;
    height: calc(100vh - 40px);
    width: calc(100% - 250px);
    padding: 20px;
  }
}
.Loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
