$primary-blue: #2d55b4;
$secondary-blue: #eff2fb;
$primary-grey: #38393c;
$secondary-grey: #abaeb7;
$white: #ffffff;
$tertiary-blue: #c0c2c9;
$primary-green: #9cec5b;
$bold-9: 900;
$bold-8: 800;
$bold-7: 700;
$bold-6: 600;
$bold-5: 500;
$bold-4: 400;
$bold-3: 300;
$bold-2: 200;
$bold-1: 100;

body {
  background-color: $secondary-blue;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
div {
  padding: 0;
}
